.nav {
    width: 39%;
    background-color: bisque;
    border: solid black;
}

.nav__list {
    padding: 20px 10px;
    display: grid;
    gap: 50px;
}

.nav__item {
    border: solid;
    border-radius: 25px;
    border-color: aquamarine;
    background-color:aquamarine;
    height: 50px;
}

.nav__link {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 360px) {
    .nav {
        margin-top: 10px;
        width: 100%;
    }
}